/* Resets */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

.app {
  background: black;
  background-image: url(./images/space1.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.page {
  display: flex;
  flex-direction: column;
  /* margin: auto; */
  /* height: 100%; */
}

/* Navigation */
.nav {
  position: static;
  display: flex;
  /* background: grey; */
  border-bottom: 1px solid white;
  align-items: center;
  padding: 15px 0;
  margin: 0 20px;
  gap: 20px;
}

.nav .hamburger {
  display: none;
}

.nav a {
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

.nav a:hover {
  text-decoration: underline;
}

.nav a:nth-child(2) {
  margin-left: auto;
}

.home {
  display: flex;
  flex-direction: column;
}

.home .top {
  display: flex;
  margin: 25px 50px;
  height: 75vh;
  justify-content: center;
  align-items: center;
}

.home .top h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  z-index: 1;
}

.home .top h1 {
  text-shadow: 1px 1px 1px black;
  text-align: center;
}

.home .top h1 div:first-child {
  font-size: 3.5vw;
  position: relative;
  bottom: 50px;
  right: 35vw;
}

.home .top h1 div:nth-child(2) {
  font-size: 8vw;
}

.home .top h1 div:nth-child(3) {
  font-size: 3.5vw;
  position: relative;
  top: 50px;
  left: 35vw;
}

.home img {
  position: absolute;
  z-index: 0;
  height: 480px;
  width: 480px;
  border-radius: 50%;
  object-fit: cover;
}

.home .bottom {
  display: flex;
  justify-content: center;
}

.home .bottom a {
  text-decoration: none;
  font-size: 2rem;
  color: white;
  margin-top: -15px;
  border: 2px solid white;
  border-radius: 15px;
  padding: 7px 15px;
  transition: transform 0.5s, color 0.65s, background-color 0.65s;
}

.home .bottom a:hover {
  transform: scale(1.2);
  color: black;
  background-color: white;
}

.svg {
  /* border: 2px solid white; */
  position: absolute;
  bottom: 3%;
  left: 5%;
  width: 100px;
  height: 100px;
  background-image: url('./images/Rocket11.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* About Page */

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 6vh;
}

.about .top .text {
  display: flex;
  flex-direction: column;
}

.about .top .text h1 {
  color: white;
  text-align: center;
  margin: 0;
}

.about .top .text p {
  color: white;
  text-align: center;
}

.about .middle {
  margin-top: -2rem;
}
.about .middle p {
  color: white;
  text-align: center;
}

.about .middle .tools {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.about .middle .logos {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.about .bottom {
  display: flex;
  justify-content: center;
}

.about .bottom a {
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px 10px;
  transition: transform 0.05s 0s, color 0.65s, background-color 0.65s;
  transition-delay: 0;
  /* transition: all 0.5s 0; */
}

.about .bottom a:hover {
  transform: scale(1.2);
  color: black;
  background-color: white;
}

.about .top p {
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

/* Page Transitions */

/* Home page */

/* Whole page */
.page-enter {
  margin: auto;
  opacity: 0;
}
.page-enter-active {
  margin: auto;
  opacity: 1;
  transition: opacity 0.6s 0.6s;
  /* transition-delay: 0.6s; */
}

.page-enter-done {
  margin: auto;
}

.page-exit {
  opacity: 1;
}
.page-exit-active {
  opacity: 0;
  transition: opacity 0.4s;
}

/* Rocket */
.page-enter .svg {
  transform: translateY(200px) !important;
}
.page-enter-active .svg {
  transform: translateY(0) !important;
  transition: transform 0.4s;
  transition-delay: 0.5s;
}

.page-exit .svg {
  transform: translateY(0) !important;
}
.page-exit-active .svg {
  transform: translateY(-500px) !important;
  transition: transform 0.4s;
  transition-delay: 0;
}

/* Upper Text (Hi there) */
.page-enter .home .top div:first-child {
  transform: translateX(200px)
}
.page-enter-active .home .top div:first-child {
  transform: translateX(0) !important;
  transition: transform 0.4s;
  transition-delay: 0.5s;
}
.page-exit .home .top div:first-child {
  transform: translateX(0) !important;
}
.page-exit-active .home .top div:first-child {
  transform: translateX(300px) !important;
  transition: transform 0.4s;
  transition-delay: 0;
}
/* Middle Text (Name) & Selfie & bottom text*/
.page-enter .home .top div:nth-child(2), .page-enter .selfie, .page-enter .bottom a {
  transform: scale(0);
}
.page-enter-active .home .top div:nth-child(2), .page-enter-active .selfie, .page-enter-active .bottom a {
  transform: scale(1) !important;
  transition: transform 0.4s;
  transition-delay: 0.5s;
}
.page-exit .home .top div:nth-child(2), .page-exit .selfie, .page-exit .bottom a {
  transform: scale(1) !important;
}
.page-exit-active .home .top div:nth-child(2), .page-exit-active .selfie, .page-exit-active .bottom a {
  transform: scale(0) !important;
  transition: transform 0.4s;
  transition-delay: 0;
}

/* Lower Text (Developer) */
.page-enter .home .top div:last-child {
  transform: translateX(-200px);
}
.page-enter-active .home .top div:last-child {
  transform: translateX(0) !important;
  transition: transform 0.4s;
  transition-delay: 0.5s;
}
.page-exit .home .top div:last-child {
  transform: translateX(0) !important;
}
.page-exit-active .home .top div:last-child {
  transform: translateX(-300px) !important;
  transition: transform 0.4s;
  transition-delay: 0;
}


/* About page exit and enter css transitions */
.page-enter .about .top .text{
  opacity: 0;
}
.page-enter-active .about .top .text{
  opacity: 1;
  transition: opacity 0.6s;
  transition-delay: 0.6s;
}

.page-exit .about .top .text{
  opacity: 1;
}
.page-exit-active .about .top .text{
  opacity: 0;
  transition: opacity 0.4s;
}

/* Media querries */
@media (min-height: 900px) {
  .about {
    gap: 9vh;
  }
}
@media (max-width: 850px) {
  .home .top h1 div:first-child {
    bottom: 100px;
  }
  .home .top h1 div:nth-child(3) {
    top: 100px;
  }
}

@media (max-width: 775px) {
  .home .top h1 div:first-child {
    font-size: 2rem;
    bottom: 150px;
  }
  .home .top h1 div:nth-child(2) {
    font-size: 60px;
  }
  .home .top h1 div:nth-child(3) {
    font-size: 2rem;
    top: 150px;
  }
}

@media (max-width: 670px) {
  .home .top h1 div:first-child {
    bottom: 170px;
  }
  .home .top h1 div:nth-child(3) {
    top: 170px;
  }
}

@media (max-width: 525px) {
  .home .top .selfie {
    width: 90vw;
    height: 90vw;
  }
}

@media (max-width: 495px) {
  .home .top h1 div:first-child {
    right: 0vw;
    bottom: 30vw;
  }
  .home .top h1 div:nth-child(2) {
    text-shadow: 3px 3px 3px black;
  }
  .home .top h1 div:nth-child(3) {
    left: 0vw;
    top: 30vw;
  }
}


