/* Resets */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

.app {
  background: black;
  background-image: url(./images/space1.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

/* Navigation */
.nav {
  display: flex;
  /* background: grey; */
  border-bottom: 1px solid white;
  height: 60px;
  align-items: center;
  margin: 0 20px;
  gap: 20px;
}

.nav a {
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

.nav a:hover {
  text-decoration: underline;
}

.nav a:nth-child(2) {
  margin-left: auto;
}

.home {
  display: flex;
  flex-direction: column;
}

.home .top {
  display: flex;
  margin: 25px 50px;
  height: 75vh;
  justify-content: center;
  align-items: center;
}

.home .top h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  z-index: 1;
}

.home .top h1 {
  text-shadow: 1px 1px 1px black;
}

.home .top h1 div:first-child {
  font-size: 3rem;
  position: relative;
  bottom: 60px;
  right: 100px;
}

.home .top h1 div:nth-child(2) {
  font-size: 7rem;
}

.home .top h1 div:nth-child(3) {
  font-size: 3rem;
  position: relative;
  top: 60px;
  left: 750px;
}

.home .top h1:hover {
  /* transform: scale(1.2); */
  cursor: pointer;
}

.home img {
  position: absolute;
  z-index: 0;
  height: 480px;
  width: 480px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.5s;
}

.home img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.home .bottom {
  display: flex;
  justify-content: center;
}

.home .bottom a {
  text-decoration: none;
  font-size: 2rem;
  color: white;
  transition: transform 0.5s;
}

.home .bottom a:hover {
  transform: scale(1.1);
}